# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
myenv/
venv/
env/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Environment variables
.env

# Credentials
client_secret.json
token.json

# Log files
*.log

# Other IDE configurations
.idea/

# PyCharm
*.iml